In [1]:
import os
import pandas as pd
import json

directory = 'Results'

json_list = []

for filename in os.listdir(directory):
    if filename.endswith('.json'):
        file_path = os.path.join(directory, filename)
        with open(file_path, 'r') as file:
            data = json.load(file)
            json_list.append(data)

df = pd.DataFrame(json_list)

# Mostrar el DataFrame
df.sort_values(by='clean_name', ascending=False, inplace=True)
df.reset_index(drop=True, inplace=True)
pd.set_option('display.max_columns', None)
df

,number,n_points,n_faces,n_tetras,n_edges,distribution,union_method,n_polyhedrons,n_barrier_faces,polyhedra_with_barriers,n_tetra_left,n_tetra_left_rate,polyhedra_with_barriers_rate,convex_rate,polyhedra_with_kernel,avg_edge_ratio,min_edge_ratio,max_edge_ratio,median_edge_ratio,variance_edge_ratio,avg_original_edge_ratio,min_original_edge_ratio,max_original_edge_ratio,avg_tetra_per_polyhedron,min_tetra_per_polyhedron,max_tetra_per_polyhedron,median_tetra_per_polyhedron,variance_tetra_per_polyhedron,polyhedra_final_rate,avg_face_per_polyhedron,min_face_per_polyhedron,max_face_per_polyhedron,median_face_per_polyhedron,variance_face_per_polyhedron,avg_polyhedron_volume_ratio,min_polyhedron_volume_ratio,max_polyhedron_volume_ratio,median_polyhedron_volume_ration,variance_polyhedron_volume_ration,avg_polyhedron_area_ratio,min_polyhedron_area_ratio,max_polyhedron_area_ratio,median_polyhedron_area_ratio,variance_polyhedron_area_ratio,dt,filename,clean_name
0,10000,9985,118254,57806,70432,random,tra,18412,3566,2828,2654,14.414512,15.359548,89.653487,98.104497,0.091660,4.120638e-07,0.584140,NaN,NaN,0.209419,5.435186e-07,0.862641,3.139148,1,16,NaN,NaN,31.851365,8.278297,4,34,NaN,NaN,0.935913,4.120306e-12,1.000016,NaN,NaN,0.985931,0.439351,1.379572,NaN,NaN,8.121560,Files/polylla_random10000tra,9985randomtra
1,10000,9985,118254,57806,70432,random,r,16638,5400,3560,2999,18.025003,21.396803,87.378291,96.207477,0.095629,3.260440e-07,0.607640,NaN,NaN,0.209419,5.435186e-07,0.862641,3.465501,1,21,NaN,NaN,28.782479,8.931001,4,44,NaN,NaN,0.927374,1.583186e-09,1.000026,NaN,NaN,0.993464,0.439966,1.384034,NaN,NaN,4.000386,Files/polylla_random10000r,9985randomr
2,10000,9985,118254,57806,70432,random,are2,17017,4918,3463,2925,17.188694,20.350238,87.647646,96.438855,0.096061,3.260440e-07,0.523235,NaN,NaN,0.209419,5.435186e-07,0.862641,3.392079,1,21,NaN,NaN,29.438121,8.784157,4,44,NaN,NaN,0.928510,2.722870e-10,1.000026,NaN,NaN,0.991793,0.439966,1.384034,NaN,NaN,6.655685,Files/polylla_random10000are2,9985randomare2
3,10000,9985,118254,57806,70432,random,are1,17063,11529,4292,4272,25.036629,25.153842,92.750396,97.749516,0.097427,2.941727e-07,0.607640,NaN,NaN,0.209419,5.435186e-07,0.862641,3.381058,1,23,NaN,NaN,29.517697,8.762117,4,48,NaN,NaN,0.961666,6.577744e-12,1.000016,NaN,NaN,1.004320,0.919740,1.312474,NaN,NaN,6.270069,Files/polylla_random10000are1,9985randomare1
4,10000,9985,118254,57806,70432,random,a,16971,10899,4264,4100,24.158859,25.125214,92.640387,97.754994,0.096872,2.941727e-07,0.607640,NaN,NaN,0.209419,5.435186e-07,0.862641,3.400566,1,23,NaN,NaN,29.358544,8.801131,4,48,NaN,NaN,0.961013,1.478471e-08,1.000016,NaN,NaN,1.004156,0.919740,1.312474,NaN,NaN,5.814319,Files/polylla_random10000a,9985randoma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,10000,10134,111654,54515,67272,semiuniform,a,18088,7147,4556,3971,21.953782,25.187970,97.180451,99.342105,0.370102,1.034086e-01,0.847764,0.365686,0.007571,0.473575,1.116031e-01,0.944975,3.013545,1,14,3.0,3.438806,33.179859,8.027090,4,30,8.0,13.755223,0.981170,4.787331e-08,1.000000,1.0,0.016608,0.998388,0.888375,1.150516,1.0,0.00016,7.923660,Files/polylla_semiuniform10000a,10134semiuniforma
141,1000,1000,9234,4374,5859,uniform,r,1299,1088,258,298,22.940724,19.861432,72.209392,90.916089,0.333333,3.333333e-01,0.333333,NaN,NaN,0.333333,3.333333e-01,0.333333,3.350269,1,15,NaN,NaN,29.698217,8.700539,4,32,NaN,NaN,0.902894,1.012494e-11,1.000010,NaN,NaN,0.984614,0.805712,1.139525,NaN,NaN,0.208242,Files/polylla_uniform1000r,1000uniformr
142,1000,1000,9234,4374,5859,uniform,are2,1299,1088,258,298,22.940724,19.861432,72.209392,90.916089,0.333333,3.333333e-01,0.333333,NaN,NaN,0.333333,3.333333e-01,0.333333,3.350269,1,15,NaN,NaN,29.698217,8.700539,4,32,NaN,NaN,0.902894,1.012494e-11,1.000010,NaN,NaN,0.984614,0.805712,1.139525,NaN,NaN,0.420265,Files/polylla_uniform1000are2,1000uniformare2
143,1000,1000,9234,4374,5859,uniform,are1,1460,53,53,14,0.958904,3.630137,100.000000,100.000000,0.333333,3.333333e-01,0.333333,NaN,NaN,0.333333,3.333333e-01,0.333333,2.995890,1,5,NaN,NaN,33.379058,7.991781,4,12,NaN,NaN,1.000000,1.000000e+00,1.000000,NaN,NaN,1.001966,1.000000,1.069036,NaN,NaN,0.352545,Files/polylla_uniform1000are1,1000uniformare1
144,1000,1000,9234,4374,5859,uniform,a,1460,53,53,14,0.958904,3.630137,100.000000,100.000000,0.333333,3.333333e-01,0.333333,NaN,NaN,0.333333,3.333333e-01,0.333333,2.995890,1,5,NaN,NaN,33.379058,7.991781,4,12,NaN,NaN,1.000000,1.000000e+00,1.000000,NaN,NaN,1.001572,1.000000,1.069036,NaN,NaN,0.327674,Files/polylla_uniform1000a,1000uniforma

In [2]:
# TODO: poner bien polyhedron
New_names = {
    
    "n_faces": r"\#F",
    "n_points": r"\#V",
    "n_tetras": r"\#T",
    "n_edges": r"\#E",
    "n_polyedrons": "Polyhedrons",
    "n_barrier_faces": "Barrier faces",
    "polyhedra_with_barriers": "Polyhedral with barriers",
    "n_tetra_left": r"\#PolyTetras",
    "n_polyhedrons": r"\#P",
    "distribution": "Mesh type",
    "dt": "Time",
    "max_tetra_per_polyhedron": "Max tetras per polyhedron",
    "min_tetra_per_polyhedron": "Min tetras per polyhedron",
    "avg_tetra_per_polyhedron": "Avg tetras per polyhedron",
    "max_face_per_polyhedron": "Max faces per polyhedron",
    "min_face_per_polyhedron": "Min faces per polyhedron",
    "avg_face_per_polyhedron": "Avg faces per polyhedron",
    "avg_polyhedron_volume_ratio": "Avg Volume Ratio",
    "min_polyhedron_volume_ratio": "Min Volume Ratio",
    "max_polyhedron_volume_ratio": "Max Volume Ratio",
    "avg_polyhedron_area_ratio": "Avg Area Ratio",
    "min_polyhedron_area_ratio": "Min Area Ratio",
    "max_polyhedron_area_ratio": "Max Area Ratio",
    "avg_edge_ratio": "Avg Edge Ratio",
    "min_edge_ratio": "Min Edge Ratio",
    "max_edge_ratio": "Max Edge Ratio",
    "avg_original_edge_ratio": "Tetgen Avg Edge Ratio",
    "min_original_edge_ratio": "Tetgen Min Edge Ratio",
    "max_original_edge_ratio": "Tetgen Max Edge Ratio",
    "polyhedra_with_kernel": "Polyhedra with Kernel (%)",
    "convex_rate":"Convex Polyhedra (%)",
    "n_tetra_left_rate":"Polyhedra that are tetras (%)"
}



df.rename(columns=New_names, inplace=True)

# Round t_data_creation and Time to 3 decimals
# df["Time"] = df["Time"].round(3)
# #round avg tetras
# df["Avg tetras per polyhedron"] = df["Avg tetras per polyhedron"].round(0)
# #round avg faces
# df["Avg faces per polyhedron"] = df["Avg faces per polyhedron"].round(0)
# #round poly kernel rate
# df["Polyhedra with Kernel (%)"] = df["Polyhedra with Kernel (%)"].round(2)
# #round convex rate
# df["Convex Polyhedra (%)"] = df["Convex Polyhedra (%)"].round(2)
# #round 
# df["Max Edge Ratio"] = df["Max Edge Ratio"].round(3)
# df["Avg Edge Ratio"] = df["Avg Edge Ratio"].round(3)

# #round
# df["Avg Volume Ratio"] = df["Avg Volume Ratio"].round(3)
# df["Max Volume Ratio"] = df["Max Volume Ratio"].round(3)
# # df["Min Volume Ratio"] = df["Min Volume Ratio"].round(3)

# #round
# df["Avg Area Ratio"] = df["Avg Area Ratio"].round(3)
# df["Max Area Ratio"] = df["Max Area Ratio"].round(3)
# df["Min Area Ratio"] = df["Min Area Ratio"].round(3)

df

,number,\#V,\#F,\#T,\#E,Mesh type,union_method,\#P,Barrier faces,Polyhedral with barriers,\#PolyTetras,Polyhedra that are tetras (%),polyhedra_with_barriers_rate,Convex Polyhedra (%),Polyhedra with Kernel (%),Avg Edge Ratio,Min Edge Ratio,Max Edge Ratio,median_edge_ratio,variance_edge_ratio,Tetgen Avg Edge Ratio,Tetgen Min Edge Ratio,Tetgen Max Edge Ratio,Avg tetras per polyhedron,Min tetras per polyhedron,Max tetras per polyhedron,median_tetra_per_polyhedron,variance_tetra_per_polyhedron,polyhedra_final_rate,Avg faces per polyhedron,Min faces per polyhedron,Max faces per polyhedron,median_face_per_polyhedron,variance_face_per_polyhedron,Avg Volume Ratio,Min Volume Ratio,Max Volume Ratio,median_polyhedron_volume_ration,variance_polyhedron_volume_ration,Avg Area Ratio,Min Area Ratio,Max Area Ratio,median_polyhedron_area_ratio,variance_polyhedron_area_ratio,Time,filename,clean_name
0,10000,9985,118254,57806,70432,random,tra,18412,3566,2828,2654,14.414512,15.359548,89.653487,98.104497,0.091660,4.120638e-07,0.584140,NaN,NaN,0.209419,5.435186e-07,0.862641,3.139148,1,16,NaN,NaN,31.851365,8.278297,4,34,NaN,NaN,0.935913,4.120306e-12,1.000016,NaN,NaN,0.985931,0.439351,1.379572,NaN,NaN,8.121560,Files/polylla_random10000tra,9985randomtra
1,10000,9985,118254,57806,70432,random,r,16638,5400,3560,2999,18.025003,21.396803,87.378291,96.207477,0.095629,3.260440e-07,0.607640,NaN,NaN,0.209419,5.435186e-07,0.862641,3.465501,1,21,NaN,NaN,28.782479,8.931001,4,44,NaN,NaN,0.927374,1.583186e-09,1.000026,NaN,NaN,0.993464,0.439966,1.384034,NaN,NaN,4.000386,Files/polylla_random10000r,9985randomr
2,10000,9985,118254,57806,70432,random,are2,17017,4918,3463,2925,17.188694,20.350238,87.647646,96.438855,0.096061,3.260440e-07,0.523235,NaN,NaN,0.209419,5.435186e-07,0.862641,3.392079,1,21,NaN,NaN,29.438121,8.784157,4,44,NaN,NaN,0.928510,2.722870e-10,1.000026,NaN,NaN,0.991793,0.439966,1.384034,NaN,NaN,6.655685,Files/polylla_random10000are2,9985randomare2
3,10000,9985,118254,57806,70432,random,are1,17063,11529,4292,4272,25.036629,25.153842,92.750396,97.749516,0.097427,2.941727e-07,0.607640,NaN,NaN,0.209419,5.435186e-07,0.862641,3.381058,1,23,NaN,NaN,29.517697,8.762117,4,48,NaN,NaN,0.961666,6.577744e-12,1.000016,NaN,NaN,1.004320,0.919740,1.312474,NaN,NaN,6.270069,Files/polylla_random10000are1,9985randomare1
4,10000,9985,118254,57806,70432,random,a,16971,10899,4264,4100,24.158859,25.125214,92.640387,97.754994,0.096872,2.941727e-07,0.607640,NaN,NaN,0.209419,5.435186e-07,0.862641,3.400566,1,23,NaN,NaN,29.358544,8.801131,4,48,NaN,NaN,0.961013,1.478471e-08,1.000016,NaN,NaN,1.004156,0.919740,1.312474,NaN,NaN,5.814319,Files/polylla_random10000a,9985randoma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,10000,10134,111654,54515,67272,semiuniform,a,18088,7147,4556,3971,21.953782,25.187970,97.180451,99.342105,0.370102,1.034086e-01,0.847764,0.365686,0.007571,0.473575,1.116031e-01,0.944975,3.013545,1,14,3.0,3.438806,33.179859,8.027090,4,30,8.0,13.755223,0.981170,4.787331e-08,1.000000,1.0,0.016608,0.998388,0.888375,1.150516,1.0,0.00016,7.923660,Files/polylla_semiuniform10000a,10134semiuniforma
141,1000,1000,9234,4374,5859,uniform,r,1299,1088,258,298,22.940724,19.861432,72.209392,90.916089,0.333333,3.333333e-01,0.333333,NaN,NaN,0.333333,3.333333e-01,0.333333,3.350269,1,15,NaN,NaN,29.698217,8.700539,4,32,NaN,NaN,0.902894,1.012494e-11,1.000010,NaN,NaN,0.984614,0.805712,1.139525,NaN,NaN,0.208242,Files/polylla_uniform1000r,1000uniformr
142,1000,1000,9234,4374,5859,uniform,are2,1299,1088,258,298,22.940724,19.861432,72.209392,90.916089,0.333333,3.333333e-01,0.333333,NaN,NaN,0.333333,3.333333e-01,0.333333,3.350269,1,15,NaN,NaN,29.698217,8.700539,4,32,NaN,NaN,0.902894,1.012494e-11,1.000010,NaN,NaN,0.984614,0.805712,1.139525,NaN,NaN,0.420265,Files/polylla_uniform1000are2,1000uniformare2
143,1000,1000,9234,4374,5859,uniform,are1,1460,53,53,14,0.958904,3.630137,100.000000,100.000000,0.333333,3.333333e-01,0.333333,NaN,NaN,0.333333,3.333333e-01,0.333333,2.995890,1,5,NaN,NaN,33.379058,7.991781,4,12,NaN,NaN,1.000000,1.000000e+00,1.000000,NaN,NaN,1.001966,1.000000,1.069036,NaN,NaN,0.352545,Files/polylla_uniform1000are1,1000uniformare1
144,1000,1000,9234,4374,5859,uniform,a,1460,53,53,14,0.958904,3.630137,100.000000,100.000000,0.333333,3.333333e-01,0.333333,NaN,NaN,0.333333,3.333333e-01,0.333333,2.995890,1,5,NaN,NaN,33.379058,7.991781,4,12,NaN,NaN,1.000000,1.000000e+00,1.000000,NaN,NaN,1.001572,1.000000,1.069036,NaN,NaN,0.327674,Files/polylla_uniform1000a,1000uniforma

### Union Method Sumamry

In [3]:

# TODO: agregar tetra vs Polyhedra rate
df_um_metrics = df[['union_method','Convex Polyhedra (%)',"Polyhedra with Kernel (%)","Polyhedra that are tetras (%)",'Avg tetras per polyhedron',"Avg Edge Ratio","Avg faces per polyhedron","Avg Volume Ratio","Avg Area Ratio","Time"]].copy().groupby("union_method").mean()
df_um_metrics

,Convex Polyhedra (%),Polyhedra with Kernel (%),Polyhedra that are tetras (%),Avg tetras per polyhedron,Avg Edge Ratio,Avg faces per polyhedron,Avg Volume Ratio,Avg Area Ratio,Time
union_method,,,,,,,,,
a,96.580053,99.109061,18.137247,3.090682,0.270072,8.181363,0.980470,1.002052,14.844011
are1,96.692485,99.115773,18.516844,3.071035,0.270448,8.142070,0.981317,1.002182,14.841605
are2,89.397841,97.080130,16.462437,3.230547,0.252103,8.461095,0.945119,0.992999,14.349370
r,89.705383,97.115033,17.186267,3.256656,0.253519,8.513312,0.947261,0.994529,8.668381
tra,90.180800,98.374556,14.630181,3.070999,0.238363,8.141998,0.948653,0.987395,19.932566

### Tables by union method
#### Number of points as index

In [4]:

df_a_union = df[(df['union_method'] == 'a') & ( df['Mesh type'] == 'semiuniform')].copy()
df_a_union.set_index(r"\#V", inplace=True)
df_a_union = df_a_union.sort_values(by = ['number'])
df_a_union = df_a_union.round(3)
multilvl = df_a_union[['Min tetras per polyhedron','Max tetras per polyhedron','Avg tetras per polyhedron',"median_tetra_per_polyhedron","variance_tetra_per_polyhedron",
                       "Min Edge Ratio","Max Edge Ratio","Avg Edge Ratio","median_edge_ratio", "variance_edge_ratio",
                       "Min faces per polyhedron","Max faces per polyhedron","Avg faces per polyhedron","variance_face_per_polyhedron", "median_face_per_polyhedron",
                       "Min Volume Ratio","Max Volume Ratio","Avg Volume Ratio","median_polyhedron_volume_ration","variance_polyhedron_volume_ration",
                       "Min Area Ratio", "Max Area Ratio", "Avg Area Ratio", "median_polyhedron_area_ratio","variance_polyhedron_area_ratio",
                       "Polyhedra with Kernel (%)", "Polyhedra that are tetras (%)"]]

# multilvl = multilvl.groupby('number').mean()
multilevel_columns = pd.MultiIndex.from_tuples([

    ('Quality Mesh Union by Area', 'Tetras per Polyhedron','Min'),
    ('Quality Mesh Union by Area', 'Tetras per Polyhedron', 'Max'),
    ('Quality Mesh Union by Area', 'Tetras per Polyhedron', 'Mean'),
    ('Quality Mesh Union by Area', 'Tetras per Polyhedron', 'Median'),
    ('Quality Mesh Union by Area', 'Tetras per Polyhedron', 'Variance'),
    ('Quality Mesh Union by Area', 'Edge Ratio','Min'),
    ('Quality Mesh Union by Area', 'Edge Ratio', 'Max'),
    ('Quality Mesh Union by Area', 'Edge Ratio', 'Mean'),
    ('Quality Mesh Union by Area', 'Edge Ratio', 'Median'),
    ('Quality Mesh Union by Area', 'Edge Ratio', 'Variance'),
    ('Quality Mesh Union by Area', 'Faces per polyhedron','Min'),
    ('Quality Mesh Union by Area', 'Faces per polyhedron', 'Max'),
    ('Quality Mesh Union by Area', 'Faces per polyhedron', 'Mean'),
    ('Quality Mesh Union by Area', 'Faces per polyhedron', 'Median'),
    ('Quality Mesh Union by Area', 'Faces per polyhedron', 'Variance'),
    ('Quality Mesh Union by Area', 'Volume Ratio','Min'),
    ('Quality Mesh Union by Area', 'Volume Ratio', 'Max'),
    ('Quality Mesh Union by Area', 'Volume Ratio', 'Mean'),
    ('Quality Mesh Union by Area', 'Volume Ratio', 'Median'),
    ('Quality Mesh Union by Area', 'Volume Ratio', 'Variance'),
    ('Quality Mesh Union by Area', 'Area Ratio','Min'),
    ('Quality Mesh Union by Area', 'Area Ratio', 'Max'),
    ('Quality Mesh Union by Area', 'Area Ratio', 'Mean'),
    ('Quality Mesh Union by Area', 'Area Ratio', 'Median'),
    ('Quality Mesh Union by Area', 'Area Ratio', 'Variance'),
    ('Quality Mesh Union by Area', 'Polyhedra with Kernel',"(%)"),
    ('Quality Mesh Union by Area', 'Polyhedra that are tetras',"(%)"),
 # Añadir esta línea para la columna faltante

])

multilvl.columns = multilevel_columns

multilvl.style.set_table_styles([
   {'selector': 'th',
    'props': [
        ('text-align', 'center')
    ]
    }]
)

In [5]:

df_r_union = df[(df['union_method'] == 'r' ) & ( df['Mesh type'] == 'semiuniform')].copy()
df_r_union.set_index(r"\#V", inplace=True)
df_r_union = df_r_union.sort_values(by = ['number'])
df_r_union = df_r_union.round(3)
multilvl = df_r_union[['Min tetras per polyhedron','Max tetras per polyhedron','Avg tetras per polyhedron',"median_tetra_per_polyhedron","variance_tetra_per_polyhedron",
                       "Min Edge Ratio","Max Edge Ratio","Avg Edge Ratio","median_edge_ratio", "variance_edge_ratio",
                       "Min faces per polyhedron","Max faces per polyhedron","Avg faces per polyhedron","variance_face_per_polyhedron", "median_face_per_polyhedron",
                       "Min Volume Ratio","Max Volume Ratio","Avg Volume Ratio","median_polyhedron_volume_ration","variance_polyhedron_volume_ration",
                       "Min Area Ratio", "Max Area Ratio", "Avg Area Ratio", "median_polyhedron_area_ratio","variance_polyhedron_area_ratio",
                       "Polyhedra with Kernel (%)", "Polyhedra that are tetras (%)"]]
# multilvl = multilvl.groupby('number').mean()
multilevel_columns = pd.MultiIndex.from_tuples([

    ('Quality Mesh Union by Inradius', 'Tetras per Polyhedron','Min'),
    ('Quality Mesh Union by Inradius', 'Tetras per Polyhedron', 'Max'),
    ('Quality Mesh Union by Inradius', 'Tetras per Polyhedron', 'Mean'),
    ('Quality Mesh Union by Inradius', 'Tetras per Polyhedron', 'Median'),
    ('Quality Mesh Union by Inradius', 'Tetras per Polyhedron', 'Variance'),
    ('Quality Mesh Union by Inradius', 'Edge Ratio','Min'),
    ('Quality Mesh Union by Inradius', 'Edge Ratio', 'Max'),
    ('Quality Mesh Union by Inradius', 'Edge Ratio', 'Mean'),
    ('Quality Mesh Union by Inradius', 'Edge Ratio', 'Median'),
    ('Quality Mesh Union by Inradius', 'Edge Ratio', 'Variance'),
    ('Quality Mesh Union by Inradius', 'Faces per polyhedron','Min'),
    ('Quality Mesh Union by Inradius', 'Faces per polyhedron', 'Max'),
    ('Quality Mesh Union by Inradius', 'Faces per polyhedron', 'Mean'),
    ('Quality Mesh Union by Inradius', 'Faces per polyhedron', 'Median'),
    ('Quality Mesh Union by Inradius', 'Faces per polyhedron', 'Variance'),
    ('Quality Mesh Union by Inradius', 'Volume Ratio','Min'),
    ('Quality Mesh Union by Inradius', 'Volume Ratio', 'Max'),
    ('Quality Mesh Union by Inradius', 'Volume Ratio', 'Mean'),
    ('Quality Mesh Union by Inradius', 'Volume Ratio', 'Median'),
    ('Quality Mesh Union by Inradius', 'Volume Ratio', 'Variance'),
    ('Quality Mesh Union by Inradius', 'Area Ratio','Min'),
    ('Quality Mesh Union by Inradius', 'Area Ratio', 'Max'),
    ('Quality Mesh Union by Inradius', 'Area Ratio', 'Mean'),
    ('Quality Mesh Union by Inradius', 'Area Ratio', 'Median'),
    ('Quality Mesh Union by Inradius', 'Area Ratio', 'Variance'),
    ('Quality Mesh Union by Inradius', 'Polyhedra with Kernel',"(%)"),
    ('Quality Mesh Union by Inradius', 'Polyhedra that are tetras',"(%)"),
 # Añadir esta línea para la columna faltante

])

multilvl.columns = multilevel_columns

multilvl.style.set_table_styles([
   {'selector': 'th',
    'props': [
        ('text-align', 'center')
    ]
    }]
)

In [6]:
df_ar1_union = df[(df['union_method'] == 'are1') & ( df['Mesh type'] == 'semiuniform')].copy()
df_ar1_union.set_index(r"\#V", inplace=True)
df_ar1_union = df_ar1_union.sort_values(by = ['number'])
df_ar1_union = df_ar1_union.round(3)
multilvl = df_ar1_union[['Min tetras per polyhedron','Max tetras per polyhedron','Avg tetras per polyhedron',"median_tetra_per_polyhedron","variance_tetra_per_polyhedron",
                       "Min Edge Ratio","Max Edge Ratio","Avg Edge Ratio","median_edge_ratio", "variance_edge_ratio",
                       "Min faces per polyhedron","Max faces per polyhedron","Avg faces per polyhedron","variance_face_per_polyhedron", "median_face_per_polyhedron",
                       "Min Volume Ratio","Max Volume Ratio","Avg Volume Ratio","median_polyhedron_volume_ration","variance_polyhedron_volume_ration",
                       "Min Area Ratio", "Max Area Ratio", "Avg Area Ratio", "median_polyhedron_area_ratio","variance_polyhedron_area_ratio",
                       "Polyhedra with Kernel (%)", "Polyhedra that are tetras (%)"]]
# multilvl = multilvl.groupby('number').mean()
multilevel_columns = pd.MultiIndex.from_tuples([

    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Tetras per Polyhedron','Min'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Tetras per Polyhedron', 'Max'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Tetras per Polyhedron', 'Mean'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Tetras per Polyhedron', 'Median'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Tetras per Polyhedron', 'Variance'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Edge Ratio','Min'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Edge Ratio', 'Max'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Edge Ratio', 'Mean'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Edge Ratio', 'Median'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Edge Ratio', 'Variance'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Faces per polyhedron','Min'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Faces per polyhedron', 'Max'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Faces per polyhedron', 'Mean'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Faces per polyhedron', 'Median'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Faces per polyhedron', 'Variance'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Volume Ratio','Min'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Volume Ratio', 'Max'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Volume Ratio', 'Mean'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Volume Ratio', 'Median'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Volume Ratio', 'Variance'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Area Ratio','Min'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Area Ratio', 'Max'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Area Ratio', 'Mean'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Area Ratio', 'Median'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Area Ratio', 'Variance'),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Polyhedra with Kernel',"(%)"),
    ('Quality Mesh Union by Aspect Ratio 1 (e1)', 'Polyhedra that are tetras',"(%)"),
    
 # Añadir esta línea para la columna faltante

])
multilvl.columns = multilevel_columns

multilvl.style.set_table_styles([
   {'selector': 'th',
    'props': [
        ('text-align', 'center')
    ]
    }]
)

In [7]:
df_ar2_union = df[(df['union_method'] == 'are2') & ( df['Mesh type'] == 'semiuniform')].copy()
df_ar2_union.set_index(r"\#V", inplace=True)
df_ar2_union = df_ar2_union.sort_values(by = ['number'])
df_ar2_union = df_ar2_union.round(3)
multilvl = df_ar2_union[['Min tetras per polyhedron','Max tetras per polyhedron','Avg tetras per polyhedron',"median_tetra_per_polyhedron","variance_tetra_per_polyhedron",
                       "Min Edge Ratio","Max Edge Ratio","Avg Edge Ratio","median_edge_ratio", "variance_edge_ratio",
                       "Min faces per polyhedron","Max faces per polyhedron","Avg faces per polyhedron","variance_face_per_polyhedron", "median_face_per_polyhedron",
                       "Min Volume Ratio","Max Volume Ratio","Avg Volume Ratio","median_polyhedron_volume_ration","variance_polyhedron_volume_ration",
                       "Min Area Ratio", "Max Area Ratio", "Avg Area Ratio", "median_polyhedron_area_ratio","variance_polyhedron_area_ratio",
                       "Polyhedra with Kernel (%)", "Polyhedra that are tetras (%)"]]
# multilvl = multilvl.groupby('number').mean()
multilevel_columns = pd.MultiIndex.from_tuples([

    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Tetras per Polyhedron','Min'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Tetras per Polyhedron', 'Max'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Tetras per Polyhedron', 'Mean'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Tetras per Polyhedron', 'Median'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Tetras per Polyhedron', 'Variance'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Edge Ratio','Min'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Edge Ratio', 'Max'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Edge Ratio', 'Mean'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Edge Ratio', 'Median'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Edge Ratio', 'Variance'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Faces per polyhedron','Min'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Faces per polyhedron', 'Max'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Faces per polyhedron', 'Mean'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Faces per polyhedron', 'Median'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Faces per polyhedron', 'Variance'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Volume Ratio','Min'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Volume Ratio', 'Max'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Volume Ratio', 'Mean'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Volume Ratio', 'Median'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Volume Ratio', 'Variance'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Area Ratio','Min'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Area Ratio', 'Max'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Area Ratio', 'Mean'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Area Ratio', 'Median'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Area Ratio', 'Variance'),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Polyhedra with Kernel',"(%)"),
    ('Quality Mesh Union by Aspect Ratio 2 (e2)', 'Polyhedra that are tetras',"(%)"),
 # Añadir esta línea para la columna faltante

])
multilvl.columns = multilevel_columns

multilvl.style.set_table_styles([
   {'selector': 'th',
    'props': [
        ('text-align', 'center')
    ]
    }]
)

In [10]:
df_tra_union = df[(df['union_method'] == 'tra') & ( df['Mesh type'] == 'semiuniform')].copy()
df_tra_union.set_index(r"\#V", inplace=True)
df_tra_union = df_tra_union.sort_values(by = ['number'])
df_tra_union = df_tra_union.round(3)
multilvl = df_tra_union[['Min tetras per polyhedron','Max tetras per polyhedron','Avg tetras per polyhedron',"median_tetra_per_polyhedron","variance_tetra_per_polyhedron",
                       "Min Edge Ratio","Max Edge Ratio","Avg Edge Ratio","median_edge_ratio", "variance_edge_ratio",
                       "Min faces per polyhedron","Max faces per polyhedron","Avg faces per polyhedron","variance_face_per_polyhedron", "median_face_per_polyhedron",
                       "Min Volume Ratio","Max Volume Ratio","Avg Volume Ratio","median_polyhedron_volume_ration","variance_polyhedron_volume_ration",
                       "Min Area Ratio", "Max Area Ratio", "Avg Area Ratio", "median_polyhedron_area_ratio","variance_polyhedron_area_ratio",
                       "Polyhedra with Kernel (%)", "Polyhedra that are tetras (%)"]]
# multilvl = multilvl.groupby('number').mean()
multilevel_columns = pd.MultiIndex.from_tuples([

    ('Quality Mesh Union by Triangle Aspect', 'Tetras per Polyhedron','Min'),
    ('Quality Mesh Union by Triangle Aspect', 'Tetras per Polyhedron', 'Max'),
    ('Quality Mesh Union by Triangle Aspect', 'Tetras per Polyhedron', 'Mean'),
    ('Quality Mesh Union by Triangle Aspect', 'Tetras per Polyhedron', 'Median'),
    ('Quality Mesh Union by Triangle Aspect', 'Tetras per Polyhedron', 'Variance'),
    ('Quality Mesh Union by Triangle Aspect', 'Edge Ratio','Min'),
    ('Quality Mesh Union by Triangle Aspect', 'Edge Ratio', 'Max'),
    ('Quality Mesh Union by Triangle Aspect', 'Edge Ratio', 'Mean'),
    ('Quality Mesh Union by Triangle Aspect', 'Edge Ratio', 'Median'),
    ('Quality Mesh Union by Triangle Aspect', 'Edge Ratio', 'Variance'),
    ('Quality Mesh Union by Triangle Aspect', 'Faces per polyhedron','Min'),
    ('Quality Mesh Union by Triangle Aspect', 'Faces per polyhedron', 'Max'),
    ('Quality Mesh Union by Triangle Aspect', 'Faces per polyhedron', 'Mean'),
    ('Quality Mesh Union by Triangle Aspect', 'Faces per polyhedron', 'Median'),
    ('Quality Mesh Union by Triangle Aspect', 'Faces per polyhedron', 'Variance'),
    ('Quality Mesh Union by Triangle Aspect', 'Volume Ratio','Min'),
    ('Quality Mesh Union by Triangle Aspect', 'Volume Ratio', 'Max'),
    ('Quality Mesh Union by Triangle Aspect', 'Volume Ratio', 'Mean'),
    ('Quality Mesh Union by Triangle Aspect', 'Volume Ratio', 'Median'),
    ('Quality Mesh Union by Triangle Aspect', 'Volume Ratio', 'Variance'),
    ('Quality Mesh Union by Triangle Aspect', 'Area Ratio','Min'),
    ('Quality Mesh Union by Triangle Aspect', 'Area Ratio', 'Max'),
    ('Quality Mesh Union by Triangle Aspect', 'Area Ratio', 'Mean'),
    ('Quality Mesh Union by Triangle Aspect', 'Area Ratio', 'Median'),
    ('Quality Mesh Union by Triangle Aspect', 'Area Ratio', 'Variance'),
    ('Quality Mesh Union by Triangle Aspect', 'Polyhedra with Kernel',"(%)"),
    ('Quality Mesh Union by Triangle Aspect', 'Polyhedra that are tetras',"(%)"),
 # Añadir esta línea para la columna faltante

])
multilvl.columns = multilevel_columns

multilvl.style.set_table_styles([
   {'selector': 'th',
    'props': [
        ('text-align', 'center')
    ]
    }]
)

In [34]:
latex_table = multilvl.to_latex(
    index=False,  # To not include the DataFrame index as a column in the table
    caption="Union by biggest area",  # The caption to appear above the table in the LaTeX document
    label="tab:area_union",  # A label used for referencing the table within the LaTeX document
    position="htbp",  # The preferred positions where the table should be placed in the document ('here', 'top', 'bottom', 'page')
    column_format="|lllllllllllllll|",  # The format of the columns: left-aligned with vertical lines between them
    escape=False,  # Disable escaping LaTeX special characters in the DataFrame
    float_format="{:0.2f}".format  # Formats floats to two decimal places
)

print(latex_table)

\begin{table}[htbp]
\caption{Union by biggest area}
\label{tab:area_union}
\begin{tabular}{|lllllllllllllll|}
\toprule
\multicolumn{17}{r}{Quality Mesh Union by Triangle Aspect} \\
\multicolumn{3}{r}{Tetras per Polyhedron} & \multicolumn{3}{r}{Edge Ratio} & \multicolumn{3}{r}{faces per polyhedron} & \multicolumn{3}{r}{Volume Ratio} & \multicolumn{3}{r}{Area Ratio} & Polyhedra with Kernel & Polyhedra that are tetras \\
Min & Max & Mean & Min & Max & Mean & Min & Max & Mean & Min & Max & Mean & Min & Max & Mean & (%) & (%) \\
\midrule
1 & 12 & 3.00 & 0.08 & 0.69 & 0.33 & 4 & 26 & 8.00 & 0.00 & 1.00 & 0.96 & 0.85 & 1.13 & 0.99 & 99.00 & 17.18 \\
1 & 17 & 3.00 & 0.11 & 0.74 & 0.36 & 4 & 36 & 8.00 & 0.00 & 1.00 & 0.95 & 0.81 & 1.19 & 0.99 & 98.57 & 16.67 \\
1 & 17 & 3.00 & 0.09 & 0.79 & 0.36 & 4 & 36 & 8.00 & 0.00 & 1.00 & 0.95 & 0.80 & 1.32 & 0.99 & 98.31 & 13.26 \\
1 & 20 & 3.00 & 0.10 & 0.76 & 0.36 & 4 & 42 & 8.00 & 0.00 & 1.00 & 0.95 & 0.77 & 1.28 & 0.99 & 98.32 & 13.54 \\
1 & 19 & 3.00 & 0.10 & 0.75 & 0.36 & 4 & 40 & 8.00 & 0.00 & 1.00 & 0.95 & 0.78 & 1.36 & 0.99 & 98.34 & 13.95 \\
1 & 16 & 3.00 & 0.11 & 0.75 & 0.36 & 4 & 34 & 8.00 & 0.00 & 1.00 & 0.95 & 0.80 & 1.23 & 0.99 & 98.36 & 14.31 \\
1 & 17 & 3.00 & 0.10 & 0.78 & 0.36 & 4 & 36 & 8.00 & 0.00 & 1.00 & 0.95 & 0.79 & 1.29 & 0.99 & 98.47 & 14.52 \\
1 & 15 & 3.00 & 0.10 & 0.73 & 0.35 & 4 & 32 & 8.00 & 0.00 & 1.00 & 0.95 & 0.81 & 1.21 & 0.99 & 98.46 & 15.27 \\
\bottomrule
\end{tabular}
\end{table}

### Tables by union method
#### mesh type as index

In [35]:
df_a_union = df[(df['union_method'] == 'a')].copy()
df_a_union.set_index('Mesh type', inplace=True)
multilvl = df_a_union[['Min tetras per polyhedron','Max tetras per polyhedron','Avg tetras per polyhedron',
                       "Min Edge Ratio","Max Edge Ratio","Avg Edge Ratio",
                       "Min faces per polyhedron","Max faces per polyhedron","Avg faces per polyhedron",
                       "Min Volume Ratio","Max Volume Ratio","Avg Volume Ratio",
                       "Min Area Ratio", "Max Area Ratio", "Avg Area Ratio"]]
multilvl = multilvl.groupby('Mesh type').mean()
multilevel_columns = pd.MultiIndex.from_tuples([

    ('Union by Area', 'Tetras per Polyhedron','Min'),
    ('Union by Area', 'Tetras per Polyhedron', 'Max'),
    ('Union by Area', 'Tetras per Polyhedron', 'Mean'),
    ('Union by Area', 'Edge Ratio','Min'),
    ('Union by Area', 'Edge Ratio', 'Max'),
    ('Union by Area', 'Edge Ratio', 'Mean'),
    ('Union by Area', 'faces per polyhedron','Min'),
    ('Union by Area', 'faces per polyhedron', 'Max'),
    ('Union by Area', 'faces per polyhedron', 'Mean'),
    ('Union by Area', 'Volume Ratio','Min'),
    ('Union by Area', 'Volume Ratio', 'Max'),
    ('Union by Area', 'Volume Ratio', 'Mean'),
    ('Union by Area', 'Area Ratio','Min'),
    ('Union by Area', 'Area Ratio', 'Max'),
    ('Union by Area', 'Area Ratio', 'Mean'),
 # Añadir esta línea para la columna faltante

])
multilvl.columns = multilevel_columns

multilvl.style.set_table_styles([
   {'selector': 'th',
    'props': [
        ('text-align', 'center')
    ]
    }]
)

In [18]:
winner_method = "a"

df_Uniform = df[(df['Mesh type'] == 'uniform') & (df['union_method'] == winner_method)].copy()
df_Semiuniform = df[(df['Mesh type'] == 'semiuniform') & (df['union_method'] == winner_method)].copy()
df_Random = df[(df['Mesh type'] == 'random') & (df['union_method'] == winner_method)].copy()
df_Poisson = df[(df['Mesh type'] == 'poisson')  & (df['union_method'] == winner_method)].copy()

# sort by \#V"
df_Uniform.sort_values(by=r"\#V", ascending=True, inplace=True)
df_Semiuniform.sort_values(by=[r"\#V",'Time'], ascending=True, inplace=True)
df_Random.sort_values(by=[r"\#V",'Time'], ascending=True, inplace=True)
df_Poisson.sort_values(by=[r"\#V",'Time'], ascending=True, inplace=True)

# df_Poisson
df_Uniform

,number,\#V,\#F,\#T,\#E,Mesh type,union_method,\#P,Barrier faces,Polyhedral with barriers,\#PolyTetras,Polyhedra that are tetras (%),polyhedra_with_barriers_rate,Convex Polyhedra (%),Polyhedra with Kernel (%),Avg Edge Ratio,Min Edge Ratio,Max Edge Ratio,Tetgen Avg Edge Ratio,Tetgen Min Edge Ratio,Tetgen Max Edge Ratio,Avg tetras per polyhedron,Min tetras per polyhedron,Max tetras per polyhedron,polyhedra_final_rate,Avg faces per polyhedron,Min faces per polyhedron,Max faces per polyhedron,Avg Volume Ratio,Min Volume Ratio,Max Volume Ratio,Avg Area Ratio,Min Area Ratio,Max Area Ratio,Time,filename,clean_name
144,1000,1000,9234,4374,5859,uniform,a,1460,53,53,14,0.958904,3.630137,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,33.379058,8.0,4,12,1.0,1.0,1.0,1.002,1.0,1.069,0.328,Files/polylla_uniform1000a,1000uniforma
51,5000,4913,50688,24576,31024,uniform,a,8376,1741,1741,471,5.623209,20.785578,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,34.082031,8.0,4,12,1.0,1.0,1.0,1.006,1.0,1.069,8.624,Files/polylla_uniform5000a,4913uniforma
125,10000,10648,113778,55566,68859,uniform,a,18565,721,721,224,1.206572,3.883652,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,33.410719,8.0,4,12,1.0,1.0,1.0,1.002,1.0,1.069,6.484,Files/polylla_uniform10000a,10648uniforma
106,15000,15625,169344,82944,102024,uniform,a,27711,524,524,127,0.458302,1.890946,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,33.409288,8.0,4,12,1.0,1.0,1.0,1.001,1.0,1.069,9.986,Files/polylla_uniform15000a,15625uniforma
104,20000,19683,214968,105456,129194,uniform,a,35269,1374,1374,381,1.080269,3.895772,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,33.444280,8.0,4,12,1.0,1.0,1.0,1.002,1.0,1.069,12.560,Files/polylla_uniform20000a,19683uniforma
87,30000,29791,329400,162000,197190,uniform,a,54778,6025,6025,1641,2.995728,10.998941,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,33.813580,8.0,4,12,1.0,1.0,1.0,1.004,1.0,1.069,18.347,Files/polylla_uniform30000a,29791uniforma
70,40000,39304,437778,215622,261459,uniform,a,72099,2663,2663,725,1.005562,3.693533,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,33.437683,8.0,4,12,1.0,1.0,1.0,1.002,1.0,1.069,23.743,Files/polylla_uniform40000a,39304uniforma
16,50000,50653,567648,279936,338364,uniform,a,93829,8998,8998,2362,2.517345,9.589786,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,33.518018,8.0,4,12,1.0,1.0,1.0,1.003,1.0,1.069,31.488,Files/polylla_uniform50000a,50653uniforma

### Tetras per polyhedron

In [19]:
# df_Uniform.drop(columns=['filename', 'Mesh type', 'number', 'clean_name', 'Time', 'Min tetras per polyhedron'], inplace=True)
# df_Semiuniform.drop(columns=['filename', 'Mesh type', 'number', 'clean_name', 'Time', 'Min tetras per polyhedron'], inplace=True)
df_UniformTet = df_Uniform.copy()
df_UniformTet.drop(columns=['Barrier faces', 'Polyhedral with barriers','filename', 'Mesh type', 'number', 'clean_name', 'Time','Convex Polyhedra (%)',	"Polyhedra with Kernel (%)", "Avg Edge Ratio",	"Min Edge Ratio", "Max Edge Ratio",	"Avg faces per polyhedron",	"Min faces per polyhedron",	"Max faces per polyhedron",	"Avg Volume Ratio",	"Min Volume Ratio",	"Max Volume Ratio",	"Avg Area Ratio", "Min Area Ratio",	"Max Area Ratio"], inplace=True)
df_SemiuniformTet = df_Semiuniform.copy()
df_SemiuniformTet.drop(columns=['Barrier faces', 'Polyhedral with barriers','filename', 'Mesh type', 'number', 'clean_name', 'Time','Convex Polyhedra (%)',	"Polyhedra with Kernel (%)", "Avg Edge Ratio",	"Min Edge Ratio", "Max Edge Ratio",	"Avg faces per polyhedron",	"Min faces per polyhedron",	"Max faces per polyhedron",	"Avg Volume Ratio",	"Min Volume Ratio",	"Max Volume Ratio",	"Avg Area Ratio", "Min Area Ratio",	"Max Area Ratio"], inplace=True)
df_RandomTet = df_Random.copy()
df_RandomTet.drop(columns=['Barrier faces', 'Polyhedral with barriers','filename', 'Mesh type', 'number', 'clean_name', 'Time','Convex Polyhedra (%)',	"Polyhedra with Kernel (%)", "Avg Edge Ratio",	"Min Edge Ratio", "Max Edge Ratio",	"Avg faces per polyhedron",	"Min faces per polyhedron",	"Max faces per polyhedron",	"Avg Volume Ratio",	"Min Volume Ratio",	"Max Volume Ratio",	"Avg Area Ratio", "Min Area Ratio",	"Max Area Ratio"], inplace=True)
# df_Poisson.drop(columns=['filename', 'Mesh type', 'number', 'clean_name', 'Time', 'Min tetras per polyhedron'], inplace=True)
df_PoissonTet = df_Poisson.copy()
df_PoissonTet.drop(columns=['Barrier faces', 'Polyhedral with barriers','filename', 'Mesh type', 'number', 'clean_name', 'Time','Convex Polyhedra (%)',	"Polyhedra with Kernel (%)", "Avg Edge Ratio",	"Min Edge Ratio", "Max Edge Ratio",	"Avg faces per polyhedron",	"Min faces per polyhedron",	"Max faces per polyhedron",	"Avg Volume Ratio",	"Min Volume Ratio",	"Max Volume Ratio",	"Avg Area Ratio", "Min Area Ratio",	"Max Area Ratio"], inplace=True)

df_RandomTet

,\#V,\#F,\#T,\#E,union_method,\#P,\#PolyTetras,Polyhedra that are tetras (%),polyhedra_with_barriers_rate,Tetgen Avg Edge Ratio,Tetgen Min Edge Ratio,Tetgen Max Edge Ratio,Avg tetras per polyhedron,Min tetras per polyhedron,Max tetras per polyhedron,polyhedra_final_rate
14,994,10433,4984,6442,a,1460,365,25.000000,25.068493,0.197568,2.637543e-05,0.897332,3.0,1,20,29.293740
46,4998,59196,28920,35273,a,8610,2169,25.191638,25.563298,0.211997,3.685670e-06,0.888540,3.0,1,23,29.771784
4,9985,118254,57806,70432,a,16971,4100,24.158859,25.125214,0.209419,5.435186e-07,0.862641,3.0,1,23,29.358544
121,14980,176486,86186,105279,a,25145,5997,23.849672,24.792205,0.204046,3.279237e-08,0.868658,3.0,1,32,29.175272
102,19979,235423,115028,140373,a,33549,8158,24.316671,24.859161,0.202146,4.409792e-07,0.873809,3.0,1,26,29.165942
85,29984,363486,178397,215072,a,52603,13100,24.903523,24.973861,0.207342,5.586739e-11,0.894930,3.0,1,33,29.486482
61,39990,498582,245842,292729,a,72991,18074,24.761957,25.311340,0.214081,1.472132e-07,0.874429,3.0,1,28,29.690208
41,49997,641483,317834,373645,a,95683,24055,25.140307,25.205104,0.218441,4.201086e-06,0.870576,3.0,1,31,30.104709

In [20]:
df_Uniform.set_index(r'\#V', inplace=True)
df_Semiuniform.set_index(r'\#V', inplace=True)
df_Random.set_index(r'\#V', inplace=True)
df_Poisson.set_index(r'\#V', inplace=True)

df_Uniform

,number,\#F,\#T,\#E,Mesh type,union_method,\#P,Barrier faces,Polyhedral with barriers,\#PolyTetras,Polyhedra that are tetras (%),polyhedra_with_barriers_rate,Convex Polyhedra (%),Polyhedra with Kernel (%),Avg Edge Ratio,Min Edge Ratio,Max Edge Ratio,Tetgen Avg Edge Ratio,Tetgen Min Edge Ratio,Tetgen Max Edge Ratio,Avg tetras per polyhedron,Min tetras per polyhedron,Max tetras per polyhedron,polyhedra_final_rate,Avg faces per polyhedron,Min faces per polyhedron,Max faces per polyhedron,Avg Volume Ratio,Min Volume Ratio,Max Volume Ratio,Avg Area Ratio,Min Area Ratio,Max Area Ratio,Time,filename,clean_name
\#V,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1000,1000,9234,4374,5859,uniform,a,1460,53,53,14,0.958904,3.630137,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,33.379058,8.0,4,12,1.0,1.0,1.0,1.002,1.0,1.069,0.328,Files/polylla_uniform1000a,1000uniforma
4913,5000,50688,24576,31024,uniform,a,8376,1741,1741,471,5.623209,20.785578,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,34.082031,8.0,4,12,1.0,1.0,1.0,1.006,1.0,1.069,8.624,Files/polylla_uniform5000a,4913uniforma
10648,10000,113778,55566,68859,uniform,a,18565,721,721,224,1.206572,3.883652,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,33.410719,8.0,4,12,1.0,1.0,1.0,1.002,1.0,1.069,6.484,Files/polylla_uniform10000a,10648uniforma
15625,15000,169344,82944,102024,uniform,a,27711,524,524,127,0.458302,1.890946,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,33.409288,8.0,4,12,1.0,1.0,1.0,1.001,1.0,1.069,9.986,Files/polylla_uniform15000a,15625uniforma
19683,20000,214968,105456,129194,uniform,a,35269,1374,1374,381,1.080269,3.895772,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,33.444280,8.0,4,12,1.0,1.0,1.0,1.002,1.0,1.069,12.560,Files/polylla_uniform20000a,19683uniforma
29791,30000,329400,162000,197190,uniform,a,54778,6025,6025,1641,2.995728,10.998941,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,33.813580,8.0,4,12,1.0,1.0,1.0,1.004,1.0,1.069,18.347,Files/polylla_uniform30000a,29791uniforma
39304,40000,437778,215622,261459,uniform,a,72099,2663,2663,725,1.005562,3.693533,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,33.437683,8.0,4,12,1.0,1.0,1.0,1.002,1.0,1.069,23.743,Files/polylla_uniform40000a,39304uniforma
50653,50000,567648,279936,338364,uniform,a,93829,8998,8998,2362,2.517345,9.589786,100.0,100.0,0.333,0.333333,0.333,0.333333,0.333333,0.333333,3.0,1,5,33.518018,8.0,4,12,1.0,1.0,1.0,1.003,1.0,1.069,31.488,Files/polylla_uniform50000a,50653uniforma

In [21]:
multilvl = df_SemiuniformTet.copy()
multilvl = multilvl[['\#F','\#T','\#E', '\#P', 'Avg tetras per polyhedron', 'Min tetras per polyhedron', 'Max tetras per polyhedron', '\#PolyTetras']]

# multilvl.set_index('\#V', inplace=True)
# multilvl
# Crear un MultiIndex para las columnas
multilevel_columns = pd.MultiIndex.from_tuples([
    ('Tetrahedron mesh', '#F'),
    ('Tetrahedron mesh', '#T'),
    ('Tetrahedron mesh', '#E'),
    ('Polyhedral mesh', 'Polyhedrons'),
    ('Polyhedral mesh', 'Avg tetras per polyhedron'),
    ('Polyhedral mesh', 'Min tetras per polyhedron'),
    ('Polyhedral mesh', 'Max tetras per polyhedron'),
    ('Polyhedral mesh', '#PolyTetras'),
 # Añadir esta línea para la columna faltante

])

multilvl.columns = multilevel_columns
multilvl

    Tetrahedron mesh                 Polyhedral mesh  \
                  #F      #T      #E     Polyhedrons
9               9586    4553    6028            1533
21             53568   25986   32611            8655
140           111654   54515   67272           18088
116           167812   82192  100620           27385
92            225829  110804  135037           36645
75            342409  168393  204045           55635
56            460913  227070  273878           75237
36            578629  285369  343286           94196

                                                         \
    Avg tetras per polyhedron Min tetras per polyhedron
9                         3.0                         1
21                        3.0                         1
140                       3.0                         1
116                       3.0                         1
92                        3.0                         1
75                        3.0                         1
56                        3.0                         1
36                        3.0                         1


    Max tetras per polyhedron #PolyTetras
9                          17         360
21                         15        1932
140                        14        3971
116                        18        6061
92                         19        7876
75                         20       11899
56                         17       16184
36                         18       20154

### Edge Ratio v/s TetGen

In [46]:
multilvler = df[df['Mesh type'] == 'semiuniform'].copy()
multilvler = multilvler[['\#V','Tetgen Avg Edge Ratio', 'Tetgen Min Edge Ratio', 'Tetgen Max Edge Ratio']].groupby('\#V').mean()

# multilvl.set_index('\#V', inplace=True)
# multilvl
# Crear un MultiIndex para las columnas
multilevel_columns = pd.MultiIndex.from_tuples([

    ('Tetrahedron mesh', 'Tetgen Avg Edge Ratio'),
    ('Tetrahedron mesh', 'Tetgen Min Edge Ratio'),
    ('Tetrahedron mesh', 'Tetgen Max Edge Ratio'),
 # Añadir esta línea para la columna faltante

])

multilvler.columns = multilevel_columns
multilvler

           Tetrahedron mesh
      Tetgen Avg Edge Ratio Tetgen Min Edge Ratio Tetgen Max Edge Ratio
\#V
996                0.451492              0.101369              0.884688
5030               0.475270              0.128769              0.932205
10134              0.473575              0.111603              0.944975
15001              0.476190              0.125758              0.927745
20013              0.476961              0.135508              0.954455
30030              0.479778              0.129473              0.955927
40036              0.479992              0.127486              0.954962
50027              0.481110              0.110393              0.962343